
.env
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/


static/qrcodes/*
!static/qrcodes/.gitkeep


*.db


.vscode/
.idea/


frontend/.env.development
frontend/.env.production
**/.env*


frontend/node_modules/
**/venv/
**/__pycache__/
**/*.pyc

frontend/dist/
frontend/build/


.vscode/
.idea/


**/*.db
**/*.sqlite

backend/ml/models/serialized/*

